body {
  font-size: 12.76px;
  font-family: "PT Sans Narrow";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.7;
}
.features-item-title {
  font-size: 12.757px;
  font-family: "PT Sans Narrow";
  color: rgb(247, 244, 241);
  font-weight: bold;
  line-height: 1.4;
}
.title {
  font-size: 12.757px;
  font-family: "PT Sans Narrow";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.4;
}
